.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;

  a {
    padding: 20px;
    border: 2px solid rgb(96, 95, 95);
    border-radius: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

}