.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 500px;
  grid-area: info;

  .languages-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
    
  }

  .education-info {
    align-self: start;
  }

  span {
    color: var(--text-secondary);
    margin-left: 18px;
  }

}