:root {
  --text-primary: black;
  --text-secondary: #595858;
  --background-primary: #2c2c2c;
  --border-header: 2px solid black;
  --background: #caccd86d;
  --foreground: #2c2c2c;
}

[data-theme="dark"] {
  --background: #2c2c2c;
  --foreground: white;
  --text-secondary: #B3B3B3;
  --text-primary: white;
  --border-header: 2px solid white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  background-color: var(--background);
  color: var(--foreground);
}


@media (min-height: 915px) {
  body {
    // height: 180vh;
  }
}
